<app-header></app-header>
<div class="content">
    <div class="cont-left">
        <div class="info">
            <h1>User managment</h1>
            <p>On our platform, you can easily manage your users, keep track of their data and manage their profile images. Whether you're building a community, an e-commerce app, or any other project, we're here to help.</p>
            <button routerLink="/dashboard" [disabled]="!isLoggedIn">GET STARTED</button>
        </div>
    </div>
    <div class="cont-right">
        <img src="../../../assets/home.png" alt="">
    </div>
</div>