/* Estilos para el contenido */
.content {
  padding: 20px 50px 50px 50px;
  margin-top: 100px;
}

.dark-background {
  position: relative;
}

.dark-background::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.btn-create {
  margin: 10px;
  background-color: #478D29;
  color: aliceblue;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}


.btn-create:hover {
  background-color: #35691e;
}

/* Estilos para el contenedor principal */
.container {
  display: flex;
  flex-wrap: wrap;
}

/* Estilos para cada tarjeta de usuario */
.user-card {
  width: calc(20% - 20px); 
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-image-container {
  width: 120px; 
  height: 120px; 
  display: flex;
  margin-bottom: 10px; 
}

.user-image {
    width: 100%;  
    object-fit: cover; 
    border-radius: 50%; 
}

.photo-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}


.info .id {
  padding: 5px 12px;
  border-radius: 100%;
  background-color: #e8e4e4;
  font-size: 14px;
  font-weight: 500;
}

/* Estilos para el título */
.user-card h2 {
  margin-top: 0;
}

/* Estilos para la imagen del usuario */
.user-card i {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* Estilos para el resto de la información del usuario */
.user-card p {
  margin: 5px 0;
}

.btn-container {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}

.btn-container button {
  padding: 7px 14px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.btn-update {
  background-color: rgb(193, 202, 194);
  color: rgb(54, 49, 49);
  font-weight: bold;
}

.btn-update:hover {
  background-color: rgb(164, 171, 165);
}


.btn-delete {
  background-color: rgb(237, 42, 42);
  color: #fff;
  font-weight: 500;
}

.btn-delete:hover {
  background-color: rgb(194, 45, 45);
}

.menu {
  position: fixed;
  z-index: 1000;
  top: 0px;
  right: -700px; /* Oculta el menú fuera de la pantalla */
  width: 700px;
  height: 100%;
  overflow-y: auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
  transition: right 0.3s ease; /* Transición suave al abrir/cerrar */
}

.menu.active {
  right: 0px; /* Muestra el menú en la pantalla */
}

.btn-close {
  position: absolute;
  top: 20px;
  right: 10px;
  border: none;
  color: black;
  cursor: pointer;
  background-color: transparent;
}

.btn-close i {
  font-size: 30px;
}

.content-menu {
  padding: 25px 35px;
}

.content-menu h3 {
  margin-bottom: 20px;
}

.file-container {
  width: 100%;
  height: 200px;
  border: 2px dashed #ccc;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 15px;
}

.file-container:hover {
  border-color: #828282;
}

.file-info {
  margin-top: 10px;
}

.file-container i {
  position: absolute; 
  top: 50px; 
  left: 50%; 
  transform: translateX(-50%);
  font-size: 40px;
  color: #707070;
}

.placeholder-text {
  position: absolute;
  top: 100px; 
  color: #707070;
  pointer-events: none;
  text-align: center;
}

.btn-clear {
  margin-bottom: 10px;
  padding: 7px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  background-color: rgb(37, 138, 184);
  color: #fff;
  cursor: pointer;
}

.btn-clear:hover {
  background-color: rgb(27, 102, 137);
}

/* Estilos adicionales para hacer que el contenedor de archivos sea más atractivo */
.file {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title-field {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 13px;
}

.input-field {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(195, 195, 195);
  padding-left: 10px; 
}


.input-field::placeholder {
  margin-left: 5px;
}

form button {
  margin-top: 5px;
  padding: 5px;
  cursor: pointer;
}

form button:disabled {
  cursor: not-allowed;
}

.error-message {
  background-color: rgb(206, 67, 65);
  padding: 4px;
  margin: 7px 0;
  font-size: 15px;
  color: #fff;
  border-radius: 5px;
}

/* Estilos para hacer responsive */
@media screen and (max-width: 1300px) {
    .user-card {
      width: calc(25% - 20px); /* Cambia el ancho de la tarjeta en dispositivos medianos */
    }

    .menu { /* Oculta el menú fuera de la pantalla */
      width: 600px;
    }

    .placeholder-text {
      font-size: 15px;
    }
  }
  
  @media screen and (max-width: 1100px) {
    .user-card {
      width: calc(33.33% - 20px); /* Cambia el ancho de la tarjeta en dispositivos pequeños */
    }

    .content-menu {
      padding: 25px 25px;
    }

    .menu { /* Oculta el menú fuera de la pantalla */
      width: 550px;
    }

    .placeholder-text {
      margin: 0 40px;
    }
  }
  
  @media screen and (max-width: 900px) {
    .user-card {
      width: calc(50% - 20px); /* Cambia el ancho de la tarjeta en dispositivos extra pequeños */
    }

    .content-menu {
      padding: 25px 20px;
    }

    .menu { /* Oculta el menú fuera de la pantalla */
      width: 450px;
    }
  }
  
  @media screen and (max-width: 700px) {
    .user-card {
      width: calc(100% - 20px); /* Cambia el ancho de la tarjeta en dispositivos muy pequeños */
    }

    .content-menu {
      padding: 25px 20px;
    }

    .menu { /* Oculta el menú fuera de la pantalla */
      width: 400px;
    }
  }